/* 
	MAIN CONTENT'S STYLES FOR EDUCATION'S PAGE
	ESTILOS DEL CONTENIDO PRINCIPAL PARA LA PÁGINA DE ESTUDIOS
*/

/* LEFT */
#left-content {
	width: 60%;
	height: inherit;
	padding: 0;
	display: block;
}

#left-content:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

#left-content div {
	width: 100%;
	text-align: center;
}

#left-content h1 {
	font-size: 3vh;
	color: #ddd;
}

#slider {
	width: 200%;
	height: auto;
	margin: 3vh 0 1vh 0;
	display: flex;
	align-items: center;
}

.slide {
	display: none;
	margin: 0 auto;
}

#left-content div img {
	vertical-align: middle;
	width: 40vw;
	height: auto;
	border-radius: 1em;
	box-shadow: none;
}

.slide .imageText {
	position: relative;
	bottom: 0;
	color: #ddd;
	font-size: inherit;
	text-align: center;
	z-index: 2;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

/* RIGHT */
#right-text {
	display: flex;
	align-items: center;
	width: 30% !important;
	height: inherit;
	padding: 0 8vw 0 0;
	margin: 0 auto;
}

#right-text ul li {
	margin-bottom: 5vh;
}

li .item-title {
	color: #ddd;
	font-size: 2vh;
	font-weight: 900;
	padding: 1vh 0;
}

li .item-container {
	display: grid;
	text-align: left;
}

.item-container .location {
	grid-column: 0/3;
	grid-row: 1;
}

.item-container .center {
	grid-column: 2/3;
	grid-row: 1;
}
.item-container .year {
	grid-column: 3/3;
	grid-row: 1;
}
