.TechSkillContainer {
	position: relative;
	width: 300px;
	height: 175px;
	padding: 15px;
	border-radius: 5px;
	background-color: #393c4080;
	transition: 300ms;
}

.TechSkillContainer:hover {
	background-color: #393c40;
}

.SkillTitle {
	display: flex;
	justify-content: start;
	align-items: baseline;
}

.SkillDescription {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.SkillExpertise {
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
}
