.NavAppbar {
	position: fixed;
	top: 0;
	min-width: 100vw;
	height: 100px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Nav {
	max-width: 750px;
	padding: 15px;
	background-color: #393c40d5;
	border-radius: 100px;
	box-shadow: 0px 2px 10px #212121;
	backdrop-filter: blur(10px);
}

ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

li {
	color: #fafafa;
	opacity: 0.5;
	font-weight: bold;
	cursor: pointer;
	transition: 300ms;
}

li:hover {
	opacity: 1;
}
