.Section {
	max-width: 1200px;
	padding: 0 100px 0 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.ContactList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.ContactItem {
	text-decoration: none;
	cursor: pointer;
	width: 500px;
	padding: 0.75em;
	border-radius: 10px;
	border-radius: 5px;
	background-color: #393c4080;
	transition: 300ms;
}

.ContactItem:hover {
	background-color: #393c40;
}

.ItemContent {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	transition: 300ms;
}

.ContactItem:hover .ItemContent {
	color: #fafafa;
}

.CVDownloadButton {
	background-color: #0553b1;
	transition: 300ms;
	cursor: pointer;
	max-width: 400px;
	padding: 1.5em 2em 1.5em 2em;
	border-radius: 20px;
	box-shadow: 0px 3px 10px #151515;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CVDownloadButton:hover {
	background-color: #027dfd;
}
