.Section {
	max-width: 1200px;
	padding: 0 100px 0 100px;
	margin-bottom: 3em;
	display: flex;
	align-items: center;
}

.HomeContent {
	display: flex;
	gap: 15px;
}

.HomeWelcomeTitles {
	display: flex;
	align-items: start;
	justify-content: start;
}

.Titles {
	margin-bottom: 3em;
	margin-left: 1em;
}

.HomeWelcomeHand {
	width: 150px;
	margin-left: 2.5em;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
	.Section {
		max-width: 1000px;
	}
}

@media screen and (max-width: 900px) {
	.Section {
		max-width: 600px;
	}

	.HomeContent {
		flex-direction: column-reverse;
		align-items: center;
	}
}
