.Home {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3em;
	padding: 1em 8em 1em 8em;
}

.HomeWelcomeTitles {
	display: flex;
	align-items: start;
	justify-content: start;
}

.Titles {
	margin-bottom: 3em;
	margin-left: 1em;
}

.HomeWelcomeHand {
	width: 150px;
	margin-left: 2.5em;
}
