.FooterContent {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.Links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	padding: 3em 5em 2em 5em;
}

.FooterNavigation {
	width: 400px;
}

.FooterNavigationList {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.FooterNavigationItem {
	padding: 1px;
	cursor: pointer;
	text-transform: capitalize;
	transition: 300ms;
}

.FooterNavigationItem:hover {
	color: #fafafa;
}

.FooterNavigationItem.active {
	color: #fafafa;
	border-bottom: 1px solid #fafafa;
}

.SocialMedia {
	width: 400px;
}

.SocialMediaList {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.SocialMediaAnchor {
	font-size: 24px;
	text-decoration: none;
	color: #989898;
}

.SocialMediaAnchor:hover {
	color: #fafafa;
}

.Social {
	cursor: pointer;
	transition: 300ms;
}

.CopyRight {
	padding: 0.5em 0 0.5em 0;
	text-align: center;
}

.FooterSeparationBar {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 650px) {
	.FooterNavigationList {
		flex-direction: column;
		gap: 10px;
	}
	.SocialMediaList {
		gap: 20px;
	}
}
