* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Footer {
	background-color: #1a1d1f;

	display: flex;
	flex-direction: column;
}

.FooterContent {
	padding: 2em 300px 1em 300px;
}

ul {
	list-style-type: none;
}

li {
	color: #fafafa;
	font-weight: bold;
	cursor: pointer;
	transition: 300ms;
}

li:hover {
	text-decoration: underline;
}

.Navigation {
	background-color: red;
	width: 60%;
}

/* .Pages {
	background-color: red;
} */

.SocialMedia {
	background-color: blue;
	width: 40%;
}

.CopyRight {
	padding: 0 0 1em 3em;
}

.CopyRight p {
	max-width: fit-content;
}
