.Section {
	max-width: 1200px;
	padding: 0 100px 0 100px;
	margin-bottom: 3em;
}

.SkillContent {
	margin-bottom: 2.5em;
}

.ProjectsContainer {
	padding: 1em 3em 1em 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.TechSkillsDescriptionFocus {
	color: #fafafa;
}

.AccordionDetails {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 1em;
	row-gap: 2em;
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
	.Section {
		max-width: 1000px;
	}
}

@media screen and (max-width: 900px) {
	.Section {
		max-width: 600px;
		padding: 0;
	}

	.ProjectsContainer {
		padding: 0;
	}
}
