.NavigationBar {
	min-width: 90%;
	padding: 15px;
	background-color: #393c4080;
	border-radius: 20px;
	box-shadow: 0px 3px 10px #1d1d1d;
	backdrop-filter: blur(15px);
	z-index: 10;
}

.NavigationList {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.NavigationItem {
	color: #fafafa;
	opacity: 0.3;
	font-weight: bold;
	cursor: pointer;
	transition: 300ms;
	text-transform: capitalize;
}

.NavigationItemClickable {
	display: flex;
	align-items: center;
	gap: 5px;
}

.NavigationItemIcon {
	font-size: 20px;
}

.NavigationItem:hover {
	opacity: 1;
}

.NavigationItem.active {
	color: #0553b1;
	opacity: 1;
	transition: 300ms;
}
