* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	flex-direction: column;
}

main {
	background-color: #222528;
	min-height: 100vh;
	max-width: 100vw;
	padding-top: 120px;
	display: flex;
	justify-content: center;
}

nav {
	position: fixed;
	top: 0;
	min-width: 100%;
	height: 100px;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

footer {
	padding: 0;
	background-color: #1a1d1f;
}

@media screen and (max-width: 650px) {
	nav {
		top: auto;
		bottom: 0;
	}

	main {
		width: 650px;
		padding-right: 100px;
		padding-left: 100px;
	}

	footer {
		padding-bottom: 3.5em;
		width: 650px;
	}
}
